{% extends "::email.html.twig" %}

{% block content %}
    <p>Witamy {{ user.firstName }},</p>
    <p>Dla wniosku o identyfikatorze {{ credit.references }} utworzono nową ofertę.</p>
    <p>Więcej szczegółów znajdziesz pod linkiem: <a style="color:#2BDE73;" href="{{ url('app_frontend_borrower_myApplications', { fields: 'references='~credit.references }) }}">{{ url('app_frontend_borrower_myApplications', { fields: 'references='~credit.references }) }}</a></p>
{% endblock %}